<style>
input[type=text] {
	width: 600px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;	
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	
}

input[type=button] {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}


</style>
<div ng-cloak>
	<div class="row">
		<div class="col-md-2">
			
		</div>
		<div class="col-md-8">
			<h1 >Welcome, Swift Manager!</h1>
			<p class="lead" >This is your Linux Terminal</p>

			<form>
				<input type="text" name="search" placeholder="Command ...">
				<input type="button" value="Execute">
			</form>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
	    $("input:button").click(function(){
	        var command = $("input:text").val();
	        $.ajax({
	        	   url: '/api/account/executeCommand',
	        	   type: 'POST',
	        	   contentType:'application/json',
	        	   data: JSON.stringify(command),
	        	   dataType:'json',
	        	   success: function(data){
	        	     //On ajax success do this
	        	     //alert(data);
	        	      },
	        	   error: function(xhr, ajaxOptions, thrownError) {
	        	      //On error do this
	        	        if (xhr.status == 200) {
	
	        	           // alert(ajaxOptions);
	        	        }
	        	        else {
	        	          //  alert(xhr.status);
	        	           // alert(thrownError);
	        	        }
	        	    }
	        });
	
	    });
	});
</script>
